body {
  background: white;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
* {
  font-size: 100%;
}

.fill {
  width: 100%;
}
.grow {
  flex: 1.0;
}

textarea {
  font-size: 150%;
  line-height: 150%;
  padding: 0.5em;
  min-height: 10em;
}
canvas {
  border:1px solid black;
  justify-self: center;
  align-self: center;
}

.docs > div {
  border: 0px solid red;
  max-width: 20em;
  margin: 0.25em;
}


.list-result {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.table-result {
  border: 1px solid #333333;
  border-collapse: collapse;
}
.table-result th {
  background-color: aliceblue;
}
.table-result td, .table-result th {
  border: 1px solid #333333;
}

.CodeMirror {
  border: 1px solid green;
  height: auto !important;
}
article {
  border: 1px solid red;
}

.grow {
  flex: 1.0;
}

.hbox {

}

.vbox {
}
.hbox {

}

.vbox {
}