body {
  background: white;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
* {
  font-size: 100%;
}

.fill {
  width: 100%;
}
.grow {
  flex: 1.0;
}

textarea {
  font-size: 150%;
  line-height: 150%;
  padding: 0.5em;
  min-height: 5em;
}
canvas {
  border:1px solid black;
  justify-self: center;
  align-self: center;
}