body {
  background: white;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
* {
  font-size: 100%;
}

.fill {
  width: 100%;
}
.grow {
  flex: 1.0;
}

textarea {
  font-size: 150%;
  line-height: 150%;
  padding: 0.5em;
  min-height: 10em;
}
canvas {
  border:1px solid black;
  justify-self: center;
  align-self: center;
}

.docs > div {
  border: 0px solid red;
  max-width: 20em;
  margin: 0.25em;
}


.list-result {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.table-result {
  border: 1px solid #333333;
  border-collapse: collapse;
}
.table-result th {
  background-color: aliceblue;
}
.table-result td, .table-result th {
  border: 1px solid #333333;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto !important;
}
article {
  /*border: 1px solid red;*/
}

.grow {
  flex: 1.0;
}

.hbox {

}

.vbox {
}
.hbox {

}

.vbox {
}



main {
  border: 0px solid red;
  display: grid;
  grid-template-columns: 15rem 1fr 15rem;
  grid-gap: 2rem;
  grid-template-rows: 2rem 1fr 2rem;
  max-height: 99vh;
}
header {
  grid-row: 1/2;
  grid-column: 1/4;
  /*font-size: 2rem;*/
  margin: 0 20px;
  /*font-weight: bold;*/
}
.collapse {
  border: 0px solid blue;
  margin: 0 20px;
  grid-row: 2/4;
  overflow: scroll;
}
.entries {
  border: 0px solid green;
  grid-row: 2/4;
  overflow: scroll;
}

header a {
  padding: 0 1rem;
}

.examples {
  display: flex;
  flex-direction: column;
}
.examples button {
  border: 0px solid red;
  background-color: #eeeeee;
  margin: 0.25em;
  border-radius: 0.5em;
}

article {
  border: 1px dashed #daa;
  border-width: 1px 0 1px 0;
  background-color: #f9f9f9;
  padding: 0.5rem;
  margin: 0.5rem;
}