.accordion-group {
    border: 1px solid gray;
    padding:0;
    margin: 0.25rem 0;
}
.accordion-group h3 {
    border: 0px solid gray;
    padding: 0.25rem;
    margin: 0;
}
.accordion-group h3.open {
    background-color: aquamarine;
    border-bottom-width: 1px;
}
.accordion-group h3.closed {
     background-color: white;
}

.accordion-group h3.open:hover {
    background-color: lightgray;
}
.accordion-group h3.closed:hover {
    background-color: aquamarine;
}
